/testxmas/*.classpath
/testxmas/*.project
/testxmas/.settings
/testxmas/target
/testxmas/*.gitignore
/testxmas/bin

/xmasall/*.classpath
/xmasall/*.project
/xmasall/.settings
/xmasall/target
/xmasall/*.gitignore
/xmasall/bin

/xmasorder/*.classpath
/xmasorder/*.project
/xmasorder/.settings
/xmasorder/target
/xmasorder/*.gitignore
/xmasorder/bin

/xmaspay/*.classpath
/xmaspay/*.project
/xmaspay/.settings
/xmaspay/target
/xmaspay/*.gitignore
/xmaspay/bin

/xmasproduct/*.classpath
/xmasproduct/*.project
/xmasproduct/.settings
/xmasproduct/target
/xmasproduct/*.gitignore
/xmasproduct/bin

/xmassystem/*.classpath
/xmassystem/*.project
/xmassystem/.settings
/xmassystem/target
/xmassystem/*.gitignore
/xmassystem/bin

/xmascoupon/*.classpath
/xmascoupon/*.project
/xmascoupon/.settings
/xmascoupon/target
/xmascoupon/*.gitignore
/xmascoupon/bin
